// Variables
$primary-color: #005450;
$secondary-color: #007bff;
$text-color: #fff;
$light-bg-color: #eef6f4;
$metric-bg-color: #eff5e5;
$circle-bg-color: #4caf50;

// Mixins
@mixin title-styles {
  width: 70%;
  margin: auto;
  color: $primary-color;
}

@mixin section-title {
  margin-bottom: 50px;

  h1 {
    @include title-styles;
  }
}

.result-page {
  // Hero Section
  .hero-section {
    color: $text-color;
    background-color: $primary-color;

    .section {
      padding: 0px 0px;
    }
    .row{
      padding: 0;
    }

    .col-lg-7 {
      padding: 75px 50px;

      span {
        button {
          margin-right: 8px;
        }
      }
    }

    .col-lg-5 {
      background-image: url('../../../assets/images/result-hero-img.webp');
      background-size: cover;
    }
  }

  // Result Section
  .result-section {
    background-color: $light-bg-color;
    color: $primary-color;

    .title {
      margin-bottom: 75px;
    }

    .circle-label {
      font-size: 2rem;
    }
  }

  // Illustration Section
  .illustration-section {

    .title {
      text-align: center;
      @include section-title;
    }

    .row {
      .col-lg-6 {
        h1 {
          font-size: 15rem;
          font-weight: bold;
          color: $primary-color;
        }

        h2 {
          font-size: 2.5rem;
        }

        h3,
        p {
          font-size: 1.4rem;
        }
      }
    }

    .arrows {
      margin-top: 20px;
    }

    .arrow-btn {
      background-color: $secondary-color;
      color: $text-color;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 1.5em;
      cursor: pointer;
    }

    .sections {
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-top: 16px;
      overflow: hidden;

      .section-header {
        padding: 12px;
        cursor: pointer;
        font-weight: bold;

        span {
          h2 {
            font-size: 4rem;
          }
        }
      }

      .section-body {
        padding: 16px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .circle-info {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: $circle-bg-color;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $text-color;
      text-align: center;
      padding: 10px;
    }
  }

  // Metric Section
  .metric-section {
    background-color: $metric-bg-color;

    .title {
      @include section-title;
      
      h1 {
        color: $primary-color;
      }
    }

    .circle-label {
      font-size: 2rem;
    }
  }

  // Testimonial Section
  .testimonial-section {
    .title {
      margin-bottom: 50px;
    }

    img {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  // Book Section
  .books-section {
    .title {
      text-align: center;
      @include section-title;
    }

    .row {
      margin-top: 50px;

      .col {
        padding: 24px;
        margin: 24px;
        color: $primary-color;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);

        h1 {
          font-size: 3.5rem;
        }

        span {
          display: flex;
          align-items: center;

          p {
            margin-right: 8px;
          }
        }

        .arrow-right {
          text-align: right;
        }
      }
    }
  }

  // Media Queries
  @media only screen and (max-width: 768px) {
    
    .title {
      h1 {
        width: 100%;
      }
    }

    // Illustration Section
    .illustration-section{

      .col-lg-6{

        .percentage{
          font-size: 6rem;
          }
      }
    }
  }
}
