// Global styles
@import url('./fonts.css');

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*Section*/
.section {
    position: relative;
    padding: 75px 50px;
}

/* Typography */
h1,
h2,
h3,
p,
li,
a,
button {
   
    font-family: 'GT-Super Regular';
}

h1 {
    font-size: 4rem;
    font-family: 'GT-Super Regular';
}

h2 {
    font-size: 2rem;
    font-family: 'GT-Super Regular';

}

h3 {
    font-size: 1.2rem;
    font-family: 'GT-Super Regular';
    color: #068466;

}

p,
li,
a {
    font-size: 1.4rem;
    font-family: 'GT-Super Regular';

}
/* Buttons */

.primary-btn {
    font-size: 1.4rem;
    background-color: #005450;
    color: #fff;
    padding: 14px 32px;
    border: none;
    border-radius: 36px;
    font-family: 'GT-Super Regular';
}
.secondary-btn {
    font-size: 1.4rem;
    background-color: #FFC776;
    color: #004D49;
    padding: 14px 32px;
    border: none;
    border-radius: 36px;
    font-family: 'GT-Super Regular';
}