/* home.scss */

/* Hero Section */
.hero-section {
    h1 {
        color: #0578FF;

    }
    background-color: #f4f4f4;
}


/* Services */
.services-section {

    .section {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }


    .service-preview {
        background-color: #e8f8f5;
        padding: 0 50px;

        h1,
        h2,
        h3 {
            margin-top: 24px;
            margin-bottom: 24px;
        }

        h1 {
            font-size: 1.2rem;
            color: #068466;

        }

        h2 {
            font-size: 2rem;
            font-family: 'GT-Super Regular';
            color: #005450;
        }

        h3 {
            font-size: 1rem;

        }

        img {
            border-radius: 25px;
        }

        .col {
            padding: 25px;
            position: relative;
            margin-top: -75px;

        }

    }


    /* View Services */
    .view-services {
        text-align: center;
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;

        h1 {
            color: #005450;
        }
    }
}

/* About Section */
.about-section {

    text-align: center;
    margin: auto;

    h1 {
        color: #005450;

    }

    .preview {
        width: 60%;
        margin: auto;
        padding: 50px 0;
    }
}

/** Membership Section */
.membership-section {

    .section {
        padding: 75px 0;
    }

    .list-options {
        padding: 0 50px;
    }

    h1 {
        color: #005450;

    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;

        .check {
            margin-right: 8px;
            color: #005450;

        }
    }

    .join {
        text-align: center;

        h1 {
            color: #fff;
        }

        position: relative;
        color: #fff;
        margin: 75px 0;
        padding: 75px 0;
        background: linear-gradient(180deg, #005450 56.17%, #abcc76 215.69%);

        button {
            background-color: #FFC776;
            color: #004D49;
            padding: 14px 32px;
            width: 15%;
            margin: auto;


        }
    }
}

/** Testimonial */
.testimonial-section {
    text-align: center;

    h1 {
        color: #068466;
    }
}

/* Partner */
.partners-section {
    text-align: center;

    h1 {
        color: #005450;
    }

    .brand-icons {
        display: flex;
        padding: 50px 0;
        justify-content: center;
        /* Center the icons */
        align-items: center;
        /* Vertically align icons */
        gap: 100px;
        /* Add space between icons */
    }

    .icon {
        /* Optionally add some styling for the icons here */
        color: #068466;
        /* Change color if needed */
    }
}