/* home.scss */

/* Hero Section */
.hero-section {
    background-color: #f4f4f4;

    .section {
        padding: 0px 0px 50px 50px;
    }

    .col-lg-7 {
        .hero-text {
            width: 80%;
            margin: 50px 0;

            h1 {
                color: #0578FF;
                line-height: 1;
            }

            h3 {
                font-size: 1rem;
                margin: 8px 0px;
                color: #000;
            }

        }
    }

    .hero-image {
        background-image: url('../../assets/images/home-hero-image.webp');
        background-size: cover;
    }
}


/* Services */
.services-section {

    .section {
        padding: 0px;
    }


    .service-preview {
        background-color: #e8f8f5;
        padding: 0 50px;
        display: flex;
        flex-wrap: wrap;

        col {
            flex: 1;
        }



        h1 {
            font-size: 1.2rem;
            color: #068466;

        }

        h2 {

            color: #005450;
        }

        h3 {
            font-size: 1rem;

        }

        img {
            border-radius: 25px;
        }

        .col {
            padding: 25px;
            position: relative;
            margin-top: -75px;

        }

    }

    /* View Services */
    .view-services {
        text-align: center;
        position: relative;
        margin-top: 50px;


        h1 {
            color: #005450;
        }
    }
}

/* About Section */
.home-page {
    .about-section {

        text-align: center;
        margin: auto;

        .section {
            padding: 50px 50px;
        }

        h1 {
            color: #005450;

        }

        .preview {
            width: 60%;
            margin: auto;
            margin-bottom: 50px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;

            .col {
                flex: 1;
            }
        }
    }

}


/** Membership Section */
.membership-section {

    .section {
        padding: 75px 0px 0px 0px;
    }

    .list-options {
        padding: 0 50px;
        display: flex;
        flex-wrap: wrap;

        .col {
            flex: 1;
        }
    }

    h1 {
        color: #005450;

    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;

        .check {
            margin-right: 8px;
            color: #005450;

        }
    }

    .join {
        text-align: center;

        h1 {
            color: #fff;
        }

        position: relative;
        color: #fff;
        margin: 75px 0;
        padding: 75px 0;
        background: linear-gradient(180deg, #005450 56.17%, #abcc76 215.69%);


    }
}

/** Testimonial */
.home-page {
    .testimonial-section {
        text-align: center;
        .section{
            padding: 0px 50px;
        }

        h1 {
            color: #068466;
        }
    }

}


/* Partner */
.partners-section {
    text-align: center;

    h1 {
        color: #005450;
    }

    .brand-icons {
        display: flex;
        padding: 50px 0;
        justify-content: center;
        /* Center the icons */
        align-items: center;
        /* Vertically align icons */
        gap: 100px;
        /* Add space between icons */
    }

    .icon {
        /* Optionally add some styling for the icons here */
        color: #068466;
        /* Change color if needed */
    }
}

// Media Queries
@media only screen and (max-width: 1200px) {

    // Membership Section
    .membership-section {
        .list-options {
            h1 {
                font-size: 3rem;
            }

            li {
                font-size: 1.2rem;
            }
        }
    }
}

@media only screen and (max-width: 992px) {

    // Services section
    .services-section {
        .service-preview {
            .col {
                h1 {
                    font-size: 1rem;
                }

                h2 {
                    font-size: 1.4rem;
                }
            }
        }
    }

    // Membership Section
    .membership-section {
        .list-options {
            h1 {
                font-size: 4rem;
            }

            .col {
                flex: 100%;
                max-width: 100%;

                li {
                    font-size: 1.4rem;
                }
            }

        }
    }


}

@media only screen and (max-width: 768px) {

    // Services section
    .services-section {
        .service-preview {
            .col {
                flex: 100%;
                max-width: 100%;
                margin-bottom: 24px;

                h1 {
                    font-size: 1.2rem;

                }

                h2 {
                    font-size: 2rem;
                }
            }

        }
    }

    // About Section
    .home-page {
        .about-section {
            .preview {
                width: 100%;
            }

            .row {
                .col {
                    flex: 100%;
                    max-width: 100%;

                }
            }
        }

    }

    // Membership Section
    .membership-section {
        .list-options {
            h1 {
                font-size: 3rem;
            }
        }
    }

       

}

