/* Footer CSS */

body, html{
    padding: 0;
    margin: 0;
}

.footer-component{
    background:linear-gradient(1turn, #005450 56.17%, #ffc776 215.69%, #ffc776 0) ;

    .membership-footer-section{
        text-align: center;
        h1{
            color: #fff;
        }
    }
    
}