// Define colors for easy updates and consistency
$primary-color: #005450;
$secondary-color: #004D49;
$white: #fff;
$light-gray: #bbb;
$medium-gray: #717171;
$background-light: #f1dfca;
$testimonial-bg: #EEF6F4;

// Define padding and margin variables for consistent spacing
$section-padding: 50px;
$section-padding-lg: 75px;
$margin-small: 8px;
$margin-medium: 16px;
$margin-large: 24px;

// General heading styles
h1, h2 {
    color: $primary-color;
}

.title {
    h1 {
        color: $primary-color;
    }
}

// Overview Page
.overview-page {

    // Hero Section
    .hero-section {
        background: {
            image: url("../../assets/images/overview-hero-img.webp");
            size: cover;
        }
        color: $primary-color;

        .section {
            padding: $section-padding $section-padding;
        }

        h1 {
            line-height: 1;
        }

        button {
            margin-right: $margin-medium;
        }

        .link {
            text-decoration: none;
            color: $primary-color;
        }
    }

    // About Section
    .about-section {
        .row {
            margin: $section-padding 0;
            text-align: center;

            .col {
                .icon {
                    margin-bottom: $margin-large;
                }

                p {
                    color: $secondary-color;
                }
            }
        }
    }

    // Offer Section
    .offer-section {
        background-color: $primary-color;
        color: $white;

        .row {
            .col-lg-3 {
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    margin: auto;
                }
            }
        }
    }
}

// Industry Section
.industry-section {
    position: relative;

    .swiper {
        margin-top: $section-padding-lg;
    }

    .swiper-slide {
        padding: $section-padding-lg 0 0 $section-padding-lg;
    }

    .swiper-pagination {
        position: relative;
        padding: $section-padding-lg 0;
        width: 100%;
        display: flex;
        justify-content: center;

        .swiper-pagination-bullet {
            height: 15px;
            width: 15px;
            margin: 0 $margin-small;
            background-color: $light-gray;
            border-radius: 50%;
            cursor: pointer;
        }

        .swiper-pagination-bullet-active {
            background-color: $medium-gray;
        }
    }

    .swiper-navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .swiper-button-prev,
        .swiper-button-next {
            background: $white;
            padding: 10px;
            color: $secondary-color;
            cursor: pointer;
            border: none;
        }
    }

    .swiper-text {
        width: 60%;
        color: $primary-color;

        h2 {
            margin-top: $margin-large;
        }

        li {
            list-style: none;
        }
    }
}

// Value Section
.value-section {
    .section {
        padding: 0;
    }

    .row {
        margin-top: $section-padding;
        padding: 0 $section-padding-lg;
        text-align: center;

        .col {
            img {
                border-radius: 50%;
                width: 70%;
                margin-bottom: $section-padding;
            }

            p {
                color: $secondary-color;
            }
        }
    }

    // View results
    .view-results {
        background-color: $background-light;
        color: $primary-color;
        padding: $section-padding-lg $section-padding-lg;

        h1 {
            text-align: left;
        }

        .col-lg-3 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// Access Section
.access-section {
    .col-lg-6 {
        h1 {
            color: $primary-color;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                color: $secondary-color;

                .check {
                    margin-right: $margin-small;
                    color: $primary-color;
                }
            }
        }
    }
}

// Blog Section
.blog-section {
    .section {
        padding: 0 $section-padding;
    }

    .blog-preview {
        .title {
            text-align: center;

            h1 {
                width: 40%;
                margin: auto;
                color: $primary-color;
            }
        }

        .row {
            margin-top: $section-padding;

            .col {
                h3 {
                    margin-top: $margin-large;
                }
            }
        }
    }

    .view-more {
        text-align: center;
        margin-bottom: $margin-large;

        .quaternary-btn {
            border: 1px solid gray;
        }
    }
}

// Testimonial Section
.testimonial-section {
    background-color: $testimonial-bg;
    padding: $section-padding 0;

    .carousel-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        .carousel {
            position: relative;
            width: 100%;
            max-width: 600px;
            height: 500px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .testimonial-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;

                .title {
                    font-style: italic;
                    color: #555;
                }
            }

            .profile-img {
                border-radius: 50%;
                width: 100px;
                height: 100px;
                margin-bottom: $section-padding;
            }
        }

        .prev, .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: $primary-color;
            border: 1px solid $primary-color;
            padding: 10px;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            cursor: pointer;
            font-size: 24px;
            transition: background-color 0.3s ease;
            z-index: 1;

            &:hover {
                background-color: $primary-color;
                color: $white;
            }
        }

        .prev { left: 20px; }
        .next { right: 20px; }
    }

    .dots {
        display: flex;
        justify-content: center;
        margin-top: $margin-medium;

        .dot {
            height: 15px;
            width: 15px;
            margin: 0 $margin-small;
            background-color: $light-gray;
            border-radius: 50%;
            cursor: pointer;

            &.active {
                background-color: $medium-gray;
            }
        }
    }
}

// Responsive Styles
@media only screen and (max-width: 1024px) {
    .industry-section .section {
        padding: $section-padding-lg;

        .swiper-slide { padding: 0; }

        .title h1 { width: 100%; }
    }
}

@media only screen and (max-width: 992px) {
    .title h1 { width: 100%; }

    .offer-section,
    .value-section .view-results h1 {
        text-align: center;
    }

    // Testimonial Section
    .testimonial-section{
        .carousel-container{
            width: 100%;

        }
    }
}

@media only screen and (max-width: 768px) {
    .industry-section .section {
        padding-bottom: 0;

        .title h1 { width: 100%; }

        .swiper-text { width: 100%; }
    }

    // Testimonial Section
    .testimonial-section{
        .carousel-container{
            width: 100%;
            height: fit-content;
            .carousel{
                max-width: 100%;
                height: 100%;
            }
            .prev, .next{
                display: none;
            }

        }
    }
}
