// business.scss


// Overview Page
.title {
    h1 {
        color: #005450;
    }
}

h2 {
    color: #005450;
}

.overview-page {

    // Hero Section
    .hero-section {
        background-image: url("../../assets/images/overview-hero-img.webp");
        background-size: cover;
        color: #005450;

        .section {
            padding: 50px 50px;
        }

        h1 {
            line-height: 1;
        }

        button {
            margin-right: 16px;
        }

        .link {
            text-decoration: none;
            color: #005450;
        }


    }

    // About Section
    .about-section {


        .row {
            margin: 50px 0;
            text-align: center;

            .col {
                .icon {
                    margin-bottom: 24px;
                }

                p {
                    color: #004D49;
                }
            }
        }
    }

    // Offer Section
    .offer-section {
        background-color: #005450;
        color: #fff;

        .row {
            .col-lg-3 {
                display: flex;
                justify-content: center;
                /* Center horizontally */
                align-items: center;

                button {
                    margin: auto;
                }
            }
        }
    }


}

.industry-section {
    position: relative;

    

    .swiper {
        margin-top: 75px;
    }
    .swiper-slide{
        padding: 75px 0px 0px 100px;

    }

    .swiper-pagination {
        position: relative;
        padding: 75px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        .swiper-pagination-bullet {
            height: 15px;
            width: 15px;
            margin: 0 5px;
            background-color: #bbb;
            border-radius: 50%;
            cursor: pointer;
        }

        .swiper-pagination-bullet-active {
            background-color: #717171;
        }
    }

    .swiper-navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .swiper-button-prev,
        .swiper-button-next {
            background: #ffffff;
            padding: 10px;
            color: #004D49;
            cursor: pointer;
            border: none;
            pointer-events: all;
        }
    }
    .swiper-text{
        width: 60%;
        color: #005450;

        h2{
            margin-top: 24px;
        }
        li{
            list-style:none ;
        }
    }
}





// Value Section
.value-section {
    .section {
        padding: 0;
    }



    .row {
        margin-top: 50px;
        padding: 0 75px;
        text-align: center;


        .col {
            img {
                border-radius: 50%;
                width: 70%;
                margin-bottom: 50px;

            }

            p {
                color: #004D49;
            }
        }
    }

    // View results
    .view-results {
        background-color: #f1dfca;
        color: #005450;
        padding: 75px 75px;

        h1 {
            text-align: left;
        }

        .col-lg-3 {
            display: flex;
            justify-content: center;
            /* Center horizontally */
            align-items: center;
            /* Center vertically */
        }


    }
}

//Access Section
.access-section {
    .col-lg-6 {
        h1 {
            color: #005450;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                color: #004D49;

                .check {
                    margin-right: 8px;
                    color: #005450;
                }
            }
        }

    }

}

// Blog Section
.blog-section {
    .section {
        padding: 0px 50px;
    }


    .blog-preview {
        .title {
            text-align: center;

            h1 {
                width: 40%;
                margin: auto;
                color: #005450;
            }
        }

        .row {

            margin-top: 50px;

            .col {
                h3 {
                    margin-top: 24px;

                }
            }
        }
    }
}

// Testimonial
.testimonial-section {
    background-color: #EEF6F4;
    padding: 50px 0;

}

.carousel-container {
    position: relative;
    /* Ensure this container is a positioning reference */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .title {
        font-style: italic;
        color: #555;
    }
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
}

h2 {
    margin: 20px 0;
    color: #005450;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}



.slide {
    display: none;
}

.slide.active {
    display: block;
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #005450;
    border: 1px solid #005450;
    padding: 10px;
    width: 75px;
    /* Ensuring a perfect circle */
    height: 75px;
    /* Ensuring a perfect circle */
    border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease;
    z-index: 1;
    /* Make sure arrows are above other elements */
}

.prev {
    left: 20px;
    /* Ensures it's within the container and visible */
}

.next {
    right: 20px;
    /* Ensures it's within the container and visible */
}

.prev:hover,
.next:hover {
    background-color: #005450;
    color: #fff;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

/* Blog Section */
.blog-section {
    .row {
        margin-bottom: 50px;

        .col {
            padding: 24px;
        }
    }

    .view-more {
        text-align: center;
        margin-bottom: 24px;

        .quaternary-btn {
            border: 1px solid gray;
        }
    }
}

@media only screen and (max-width:1024px) {

    // Industry Section
    .industry-section {

        .section {
            padding: 75px 75px;
            .swiper-slide{
                padding: 0;
            }

            .title {
                h1 {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width:992px) {

    .title {
        h1 {
            width: 100%;
        }
    }

    // Offer Section
    .offer-section,
    .value-section .view-results {

        h1 {
            text-align: center;
        }

    }


}

@media only screen and (max-width:768px) {

    // Industry Section
    .industry-section {


        .section {
            padding-bottom: 0;
            .title {
                h1 {
                    width: 100%;
                }
            }
        }

       
            .swiper-text {
               width: 100%;
            }

    }
}